#Flexbox {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    gap: 50px;
    text-align: center;
}
